<?xml version="1.0" encoding="utf-8"?><!--
  ~ Designed and developed by Ji Sungbin 2023.
  ~
  ~ Licensed under the MIT.
  ~ Please see full license: https://github.com/jisungbin/Covid19CenterApp/blob/main/LICENSE
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".App"
    tools:ignore="MissingApplicationIcon">

    <activity
      android:name=".activity.PrefetchActivity"
      android:exported="true"
      android:theme="@android:style/Theme.Material.NoActionBar">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".activity.MapActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    <meta-data
      android:name="com.naver.maps.map.CLIENT_ID"
      android:value="2w8az5mbvn" />

  </application>

</manifest>
